@use "sass:color";
@use "../abstracts/variables" as vars;

/* Tema por defecto */
:root {
  --color-primary: #{vars.$color-primary};
  --color-secondary: #{vars.$color-secondary};
  --color-success: #{vars.$color-success};
  --color-light: #{vars.$color-light};
  --color-dark: #{vars.$color-dark};
}

/* Ejemplo de uso */
body {
  background-color: vars.$color-background-light;
  color: vars.$color-dark;
}

/* Links */
a {
  color: vars.$color-primary;

  &:hover {
    color: color.adjust(vars.$color-primary, $lightness: -10%); // antes darken()
  }
}

/* Botón principal */
.btn-primary {
  background: vars.$color-primary;

  &:hover {
    background: color.adjust(vars.$color-primary, $lightness: -8%); // antes darken()
  }
}

/* Botón de éxito */
.btn-success {
  background: vars.$color-success;

  &:hover {
    background: color.adjust(vars.$color-success, $lightness: -8%); // antes darken()
  }
}
